* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Microsoft JhengHei", sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    padding: 40px 20px;
}

.profile {
    text-align: center;
    margin-bottom: 50px;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.profile h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.divider {
    max-width: 800px;
    margin: 20px auto 40px;
    border: 0;
    border-top: 1px solid #ddd;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    gap: 15px;
    grid-template-areas: 
    'w1 w2 w3 w3'
    'w1 w12 w10 w7'
    'w8 w12 w6 w14'
    'w4 w4 w15 w14'
    'w11 w13 w15 w16'
    'w5 w13 w9 w9'
    ;
}

.grid-item {
    overflow: hidden;
    position: relative;
    background-color: #eee;
}

.m1{grid-area: w1;}
.m2{grid-area: w2;}
.m3{grid-area: w3;}
.m4{grid-area: w4;}
.m5{grid-area: w5;}
.m6{grid-area: w6;}
.m7{grid-area: w7;}
.m8{grid-area: w8;}
.m9{grid-area: w9;}
.m10{grid-area: w10;}
.m11{grid-area: w11;}
.m12{grid-area: w12;}
.m13{grid-area: w13;}
.m14{grid-area: w14;}
.m15{grid-area: w15;}
.m16{grid-area: w16;}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.grid-item:hover img {
    transform: scale(1.05);
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: rgb(0,0,0,0.6);
    color: #fff;
    opacity: 0;
    pointer-events: none;
}


.grid-item:hover .overlay{
    opacity: 1;
}

/* 圖片跨度控制 (這部分是達成圖片中大小不一的關鍵) 
.wide {
    grid-column: span 2;  橫向佔兩格 
}

.tall {
    grid-row: span 2;  縱向佔兩格 
}

.big {
    grid-column: span 2;  橫向佔兩格 
    grid-row: span 2;     縱向也佔兩格 
}*/


.contact {
    padding: 60px 20px 40px;
    background-color: #fff;
    text-align: center;
}

.more {
    font-size: 0.95rem;
    color: #777;
    margin-bottom: 20px;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.contact-item {
    text-decoration: none;
    color: #444;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-item .icon {
    font-size: 1.2rem;
}

.contact-item .text {
    font-size: 1rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.contact-item:hover .text {
    border-bottom: 1px solid #333;
}

.copyright {
    font-size: 0.8rem;
    color: #bbb;
    margin-top: 20px;
}

